/*
 * Copyright (c) 2013-2023, Seqera Labs.
 * + Open-source modifications by Tuple, LLC.
 */
 
manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow + ahab' 
  author = 'Paolo Di Tommaso and Colby T. Ford'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

params {
  transcriptome = "$transcriptome"
  reads = "$reads"
  outdir = "$outdir"
  multiqc = "$multiqc"
}
